reconstruction/**/*.java text eol=lf
tools/**/*.java text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.jar binary
*.jad binary
*.zip binary
*.rar binary
*.lng binary
*.mp3 binary
res/ALL_TARGETS/text/replaces.txt text eol=lf
*.patch -whitespace
reconstruction/resources/** binary
reconstruction/resources/**/*.json text diff eol=lf
